<!DOCTYPE html>
<html>

<head>

    <title>Hospital Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-box">

    <h1>🏥 Hospital Login</h1>

    <form action="/login_check" method="POST">

        <input type="text"
        name="username"
        placeholder="Username"
        required>

        <input type="password"
        name="password"
        placeholder="Password"
        required>

        <button type="submit">
            Login
        </button>

    </form>

    {% if error %}

    <h3 style="color:red;">
        {{ error }}
    </h3>

    {% endif %}

</div>

</body>
</html>