<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
</head>
<body>

    <h1>Patient Management</h1>

    <hr>

    <form action="/add_patient" method="POST">

        <input type="text" name="name" placeholder="Patient Name" required>
        <br><br>

        <input type="number" name="age" placeholder="Age" required>
        <br><br>

        <input type="text" name="disease" placeholder="Disease" required>
        <br><br>

        <button type="submit">Add Patient</button>

    </form>

    <br>

    <a href="/dashboard">Back to Dashboard</a>

</body>
</html>