<!DOCTYPE html>
<html>

<head>

    <title>Add Patient</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Add Patient</h1>

<form action="/add_patient" method="POST">

    <input type="text"
    name="name"
    placeholder="Enter Name"
    required>

    <input type="number"
    name="age"
    placeholder="Enter Age"
    required>

    <input type="text"
    name="disease"
    placeholder="Enter Disease"
    required>

    <button type="submit">
        Add Patient
    </button>

</form>

</div>

</body>
</html>