<!DOCTYPE html>
<html>
<head>
    <title>Bills</title>
</head>
<body>

<h1>Hospital Bills</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>Patient</th>
    <th>Treatment</th>
    <th>Amount</th>
    <th>PDF</th>
</tr>

{% for bill in bills %}

<tr>
    <td>{{ bill[0] }}</td>
    <td>{{ bill[1] }}</td>
    <td>{{ bill[2] }}</td>
    <td>₹{{ bill[3] }}</td>

    <td>
        <a href="/download_bill/{{ bill[0] }}">
            Download PDF
        </a>
    </td>
</tr>

{% endfor %}

</table>

</body>
</html>