<!DOCTYPE html>
<html>
<head>
    <title>Appointments</title>
</head>
<body>

<h1>Appointments</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Date</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for appointment in appointments %}

<tr>
    <td>{{ appointment[0] }}</td>
    <td>{{ appointment[1] }}</td>
    <td>{{ appointment[2] }}</td>
    <td>{{ appointment[3] }}</td>
    <td>{{ appointment[4] }}</td>

    <td>
        <a href="/complete_appointment/{{ appointment[0] }}">
            Complete
        </a>
    </td>
</tr>

{% endfor %}
</table>

</body>
</html>